<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport"  content="width=device-width, initial-scale=1" charset="UTF-8" >
        <title>home</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head> 
<body>
 
<%- include('./partials/header.ejs') -%>  
     <section>    
      <% products.forEach(function(productdata) { %>
        <img src="/img/<%= productdata.image %>" alt ="" height="50px" width="70px">
             <%= productdata.name %>
             <%= productdata.price %>
              <button data-productdata="<%= JSON.stringify(productdata) %>"class="addtocart">+Add</button>       
              
    <% }) %>
        </section> 
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
      <script>
        function updateCart(product)
        {
          axios.post('/update-cart',product).then(res =>{
            counter.innerText=res.data.totoalQty
          })
        }
        const addtoCart=document.querySelectorAll(".addtocart");
        const counter=document.querySelector('#counter');
        
        addtoCart.forEach((button) => {
        button.addEventListener('click',(e)=>{
            let product=JSON.parse(button.dataset.productdata)
            updateCart(product);
        }) 
        })
        </script>
        </body>
      </html>